[package]
name = "embedded-graphics"
description = "Embedded graphics library for small hardware displays"
version = "0.7.0-alpha.1"
authors = ["James Waples <james@wapl.es>"]
repository = "https://github.com/embedded-graphics/embedded-graphics"
documentation = "https://docs.rs/embedded-graphics"
categories = ["embedded", "no-std"]
keywords = ["rtfm", "graphics", "embedded"]
readme = "./README.md"
license = "MIT OR Apache-2.0"
exclude = [
    ".circleci",
	".travis.yml",
	".gitignore",
	"convert_1bpp.sh",
]
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[badges]
circle-ci = { repository = "embedded-graphics/embedded-graphics", branch = "master" }

[dependencies]
byteorder = { version = "1.3.2", default-features = false }
fixed = { version = "0.5.5", optional = true, default-features = false }
float-cmp = { version = "0.8.0" }
micromath = { version = "1.0.0", default-features = false }
nalgebra = { version = "0.19.0", optional = true, default-features = false }

[features]
default = []
nalgebra_support = [ "nalgebra" ]
fixed_point = [ "fixed" ]

[dev-dependencies]
arrayvec = { version = "0.5.1", default-features = false }
