/// $CHAR_WIDTH$x$CHAR_HEIGHT$ pixel monospace font.
///
/// <img src="data:image/png;base64,$PNG_DATA$" alt="$NAME$ font">
pub const $NAME$: MonoFont = MonoFontBuilder::new()
    .image(ImageRaw::new_binary(include_bytes!("$RAW_FILE$"), $IMAGE_WIDTH$))
    .glyph_indices(super::$GLYPH_INDICES$)
    .character_size(Size::new($CHAR_WIDTH$, $CHAR_HEIGHT$))
    .character_spacing($CHARACTER_SPACING$)
    .baseline($BASELINE$)
    .underline($BASELINE$ + 2, 1)
    .strikethrough($CHAR_HEIGHT$ / 2, 1)
    .build();

